<html>
    <head>
        <title>Up Next</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" style="text/css" href="stylesheets/main.css"></link>
    </head>
    <body>
        <!-- navbar -->
        <div id="content-container">
            <header>
                <h4>Up Next</h4>
                <ul>
                    <li>Signup</li>
                    <li>Login</li>
                </ul>
            </header>
            
            <!-- hero box -->
            <section id="hero">
                <h1>Up Next</h1>
                <!-- movie search bar -->
                <form>
                    <input type=radio name="searchType" value="movie" checked="checked">Movie</input>
                    <input type=radio name="searchType" value="series">Series</input>
                </form>
                <div id="movie-search">
                    <input id="search-bar" type="text" placeholder="Search for your next movie or serie">
                    <button id="search-btn">Search</button>
                </div>
            </section>
            
            <!--Popup Box-->
            <div class="modal" id="modal">
                <div id="popup-box">
                    <div class="image-container">
                        <img id="poster" src="">
                    </div>
                    <span id="close-popup">X</span>
                    <div id="popup-info">
                        <h1 id="title"></h1>
                        <p>directed by: <span id="director"></span></p>
                        <p id="released"></p>
                        <p id="genre"></p>
                        <h3>Plot</h3>
                        <p id="plot"></p>
                        <h3>Ratings</h3>
                        <p>RottenTomatos: <span id="rTomatoes"></span> - IMDB: <span id="imdb"></span></p>
                        <h3>Awards</h3>
                        <p id="awards"></p>
                    </div>    
                </div>
            </div>
            
            <div id="popup-loader" class="loader" hidden></div>
            
            
            <!-- subpages -->
            <section id="show-index">
                
                <!-- navbar buttons to show subpage -->
                <div id="display-btns">
                    <button class="display-btn selected-btn" id="show-search-btn">Search</button>
                    <button class="display-btn" id="show-list-btn">My Lists</button>
                </div>
                
                <!-- search results -->
                <div class="container" id="search-list">
                    <div id="search-loader" class="loader" hidden></div>
                    <div class="pages"></div>
                    <p id="error-message"></p>
                    <ul id="found-movies">
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                    </ul>
                </div>
                
                <!-- selection list -->
                <div class="container" id="movie-list" hidden>
                    <div id="list-loader" class="loader" hidden></div>
                </div>
            </section>
        
        </div>
        
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>