<html>
    <head>
        <title>Up Next</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" style="text/css" href="stylesheets/main.css"></link>
    </head>
    <body>
        <!-- navbar -->
        <div id="content-container">
            <header>
                <h4>Up Next</h4>
                <ul>
                    <% if(!currentUser){ %>
                        <li id="login-btn">Login</li>
                        <li id="signup-btn">Signup</li>
                    <% } else { %>
                        <li class="logged-in">Welcome <%= currentUser.username %></li>
                        <li id="logout-btn"><a href="/index/logout">Logout</a></li>
                    <% } %>
                    
                </ul>
            </header>
            <!-- Login and register box-->
            <div id="auth-routes">
                <div class="user-input-box" id="login-box" hidden>
                    <form id="login-form" action="/index/login" method="POST">
				        <label for="login-username">Username</label>
				        <input id="login-username" type="text" name="username" placeholder="Username">

				        <label for="login-password">Password</label>
				        <input id="login-password" type="password" name="password">

				        <button type="submit">Login</button>
			        </form>
                </div>
                
                <div class="user-input-box" id="signup-box" hidden>
                    <form id="signup-form" action="/index/register" method="POST">
				        <label for="signup-username">Username</label>
				        <input id="signup-username" type="text" name="username" placeholder="Username">

				        <label for="signup-password">Password</label>
				        <input id="signup-password" type="password" name="password">

				        <button type="submit">Sign Up</button>
			        </form>
                </div>
            </div>
            
            <!-- hero box -->
            <section id="hero">
                <h1>Up Next</h1>
                <!-- movie search bar -->
                <form>
                    <input type=radio name="searchType" value="movie" checked="checked">Movie</input>
                    <input type=radio name="searchType" value="series">Series</input>
                </form>
                <div id="movie-search">
                    <input id="search-bar" type="text" placeholder="Search for your next movie or serie">
                    <button id="search-btn">Search</button>
                </div>
            </section>
            
            <!--Popup Box-->
            <div class="modal" id="modal">
                <div id="popup-box">
                    <div class="image-container">
                        <img id="poster" src="">
                    </div>
                    <span id="close-popup">X</span>
                    <div id="popup-info">
                        <h1 id="title"></h1>
                        <p>directed by: <span id="director"></span></p>
                        <p id="released"></p>
                        <p id="genre"></p>
                        <h3>Plot</h3>
                        <p id="plot"></p>
                        <h3>Ratings</h3>
                        <p>RottenTomatos: <span id="rTomatoes"></span> - IMDB: <span id="imdb"></span></p>
                        <h3>Awards</h3>
                        <p id="awards"></p>
                    </div>    
                </div>
            </div>
            
            <div id="popup-loader" class="loader" hidden></div>
            
            
            <!-- subpages -->
            <section id="show-index">
                
                <!-- navbar buttons to show subpage -->
                <div id="display-btns">
                    <button class="display-btn selected-btn" id="show-search-btn">Search</button>
                    <button class="display-btn" id="show-list-btn">My Lists</button>
                </div>
                
                <!-- search results -->
                <div class="container" id="search-list">
                    <div class="pages"></div>
                    <div id="search-loader" class="loader" hidden></div>
                    <p id="error-message"></p>
                    <ul id="found-movies">
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                        <!--<div id="132465454"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNTE4MTUxMl5BMl5BanBnXkFtZTcwMDIyODM4OA@@._V1_SX300.jpg"><p class="movie-title">Hobbit the desolation of smaug</p></div>-->
                    </ul>
                </div>
                
                <!-- selection list -->
                <div class="container" id="movie-list" hidden>
                    <div id="create-list">
                        <input id="list-name" type="text" name="list-name" required></input>
                        <button id="create-list-btn">Create</button>
                    </div>
                    <div id="list-loader" class="loader" hidden></div>
                </div>
            </section>
        
        </div>
        
        <script type="text/javascript" src="/scripts/search-movies.js"></script>
        <script type="text/javascript" src="/scripts/popup.js"></script>
        <script type="text/javascript" src="/scripts/auth.js"></script>
        <script type="text/javascript" src="/scripts/create-list.js"></script>
    </body>
</html>