/***********************/
/*  BOTTOM CONTAINERS  */
/***********************/

.container{
    padding: 20px;
}

.pages {
    padding-left: 20px;
    display: flex;
}

.page-btn {
    cursor: pointer;
    margin-right: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    line-height: 17px;
}

.selected-page {
    background: white;
    color: #081e44;
}

.movies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.found-movie {
    border-bottom: 1px solid white;
    padding: 20px;
    flex-basis: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.2s linear;
}

.found-movie:nth-of-type(1) {
    border-top: 1px solid white;;
}

.found-movie:hover {
    background: #031738;
    cursor: pointer;
}

.found-info {
    margin-left: 20px;
    align-content: flex-start;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}

.found-info p {
    margin: 0;
}

.movie-title {
    font-style: bold;
    font-size: 1.3em;
}

.movie-year {
    font-style: italic;
}

.movies div img {
    width: 80px;
}

.add-btn {
    position: relative;
    opacity: 0;
    font-size: 100px;
    color: green;
    transition: 0.2s linear;
    cursor: pointer;
    z-index: 2;
}

.found-movie:hover .add-btn {
    opacity: 1;
}

.add-btn:hover {
    transform: scale(1.1);
}

/*****************/
/*  LIST STYLES  */
/*****************/
.lists {
    padding: 0;
}

.found-lists {
    border-bottom: 1px solid white;
    padding-left: 15px;
    flex-basis: 100px;
    display: flex;
    overflow: hidden;
    transition: 0.2s linear;
    justify-content: space-between;
    align-items: center;
}

.found-lists:nth-of-type(1) {
    border-top: 1px solid white;;
}

.found-lists:hover {
    background: #031738;
    cursor: pointer;
}

.list-name {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.list-total {
    font-size: 14px;
    font-style: italic;
}

.delete-list-btn {
    margin-right: 15px;
    position: relative;
    opacity: 0;
    font-size: 40px;
    color: red;
    transition: 0.1s linear;
    cursor: pointer;
    z-index: 2;
    height: 50px;
}

.found-lists:hover .delete-list-btn {
    opacity: 1;
}

.delete-list-btn:hover {
    transform: scale(1.1);
}

.small-input-btn, .small-input-field {
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    border: none;
    height: 20px;
}

.small-input-field {
    margin-left: 15px;
    padding-left: 10px;
    width: 300px;
}

.small-input-btn {
    margin-left: 15px;
    width: 60px;
}

.medium-btn {
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    border: none;
    height: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 150px;
}

/* Progress Bar */
.progress-bar {
    width: 500px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
}

.current_progress {
    height: 10px;
    border-radius: 10px;
    background-color: white;
}

.complete {
    background-color: #8bea7c;
}


/* Found listst popup */
#found-lists-popup {
    padding-left: 0;
}

.found-lists-popup {
    border-bottom: 1px solid white;
    padding-left: 5px;
    overflow: hidden;
    transition: 0.2s linear;
}

.found-lists-popup:nth-of-type(1) {
    margin-top: 40px;
    border-top: 1px solid white;
}

.found-lists-popup:hover {
    background: #031738;
    cursor: pointer;
}

.list-name-popup {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.list-total-popup {
    font-size: 10px;
    font-style: italic;
}

/*  INSIDE LIST  */
.delete-movie-btn, .seen-movie-btn  {
    position: relative;
    opacity: 0;
    font-size: 60px;
    color: red;
    transition: 0.2s linear;
    cursor: pointer;
    z-index: 2;
}

.found-movie:hover .delete-movie-btn, .found-movie:hover .seen-movie-btn {
    opacity: 1;
}

.delete-movie-btn:hover, .seen-movie-btn:hover {
    transform: scale(1.1);
}

.seen-movie-btn {
    color: green;
    margin-right: 10px;
}

.seen-movie {
    background: #4f6384;
}

.seen-movie:hover {
    background: #4f6384;
}