/***********************/
/*     HERO STYLES     */
/***********************/
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

#hero {
    margin: 50px;
}

#hero h1 {
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Shrikhand', cursive;
}

#movie-search {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* Input styles */
#search-btn, #search-bar, #search-year {
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    border: none;
    height: 30px;
}

#search-bar {
    padding-left: 10px;
    width: 350px;
}

#search-year {
    padding-left: 10px;
    width: 80px;
    margin-left: 15px;
}

#search-btn {
    margin-left: 15px;
    width: 80px;
}

#search-options {
    display: inline-block;
    margin-bottom: 5px;
}

/***********************/
/*  SELECTION BUTTONS  */
/***********************/
#display-btns {
    padding: 0 50px;
    border-bottom: solid 2px grey;
}

.display-btn {
    border-radius: 5px 5px 0px 0px;
    background: none;
    color: white;
    padding: 3px;
    margin-right: 10px;
    width: 100px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    border: none;
    transform: translateY(2px);
    border-radius: 3px;
    cursor: pointer;
}

.display-btn:hover {
    background: #0b0c0c;
}

.display-btn:focus, .display-btn:active {
    outline: none;
}

.selected-btn {
    border-radius: 5px 5px 0px 0px;
    border-top: solid 2px grey;
    border-right: solid 2px grey;
    border-left: solid 2px grey;
    border-bottom: solid 2px #131414;
}