/***********************/
/*    GENERAL STYLES   */
/***********************/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

html, body {
    /*page styles*/
    margin: 0;
    padding: 0;
    height: 100%;
    /*background image*/
    background: linear-gradient(125deg, black, #000f28);
    background-image: url("https://i.pinimg.com/originals/25/12/ec/2512ece2ee4bb87219577163fb77b52c.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /*general settings*/
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}

#content-container {
    width: 50%;
    background: #081e44;
    margin: 0 auto;
    min-height: 110%;
}

/***********************/
/*     HEADER STYLES   */
/***********************/
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

header h4, header ul{
    margin: 10px 25px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 25px;
}

/***********************/
/*     HERO STYLES     */
/***********************/
#hero {
    margin: 50px;
}

#hero h1 {
    font-size: 3em;
}

#movie-search {
    display: flex;
    flex-wrap: wrap;
}

/* Input styles */
#search-btn, #search-bar {
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    border: none;
    
    height: 30px;
}

#search-bar {
    padding-left: 10px;
    width: 350px;
}

#search-btn {
    margin-left: 15px;
    width: 80px;
}

/***********************/
/*  SELECTION BUTTONS  */
/***********************/
#display-btns {
    padding: 0 50px;
    border-bottom: solid 2px grey;
}

.display-btn {
    background: none;
    color: white;
    padding: 3px;
    margin-right: 10px;
    width: 100px;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    border: none;
    transform: translateY(2px);
    border-radius: 3px;
    cursor: pointer;
}

.display-btn:focus, .display-btn:active {
    outline: none;
}

.selected-btn {
    border-top: solid 2px grey;
    border-right: solid 2px grey;
    border-left: solid 2px grey;
    border-bottom: solid 2px #081e44;
}

/***********************/
/*  BOTTOM CONTAINERS  */
/***********************/

.container{
    padding: 20px;
}

.pages {
    padding-left: 20px;
    display: flex;
}

.page-btn {
    cursor: pointer;
    margin-right: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
}

.selected-page {
    background: white;
    color: blue;
}

#found-movies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.found-movie {
    border-bottom: 1px solid white;
    padding: 20px;
    flex-basis: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.found-info {
    margin-left: 20px;
    align-content: flex-start;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}

.found-info p {
    margin: 0;
}

.movie-title {
    font-style: bold;
    font-size: 1.3em;
}

.movie-year {
    font-style: italic;
}

#found-movies div:hover {
    cursor: pointer;
}

#found-movies div img {
    width: 80px;
}

/***********************/
/*       POPUP BOX     */
/***********************/

#popup-loader {
    margin: 0 auto;
    position: absolute;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7); 
}

#popup-box {
    /*content*/
    padding: 30px;
    color: white;
    /*background*/
    background: #121a28;
    /*positioning*/
    position: absolute;
    margin: auto;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 70%;
}

#close-popup {
    opacity: 0.5;
    float: right;
}

#close-popup:hover {
    opacity: 1;
    cursor: pointer;
}

/*Popup content*/
#popup-info {
    height: 100%;
}

#popup-info p {
    margin: 0;
}

.image-container {
    margin-top: 21px;
    height: 100%;
    padding-right: 30px;
    float: left;
}

#title {
    font-style: italic;
}

/******************/
/*     LOADER     */
/******************/

.loader {
  border: 15px solid grey;
  border-color: #40d69c grey #d13b21 grey;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 50px auto;
  animation: loaderanimation 3s infinite linear;
}

@keyframes loaderanimation {
  50% {
    transform: rotate(360deg) scale(1.05);
    border-color: #40d69c #7f7382 #d13b21 #7f7382;
  }
  100% {
    transform: rotate(720deg) scale(1)
  }
}
