/***********************/
/*    GENERAL STYLES   */
/***********************/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

html, body {
    /*page styles*/
    margin: 0;
    padding: 0;
    height: 100%;
    /*background image*/
    background: linear-gradient(125deg, black, #000f28);
    /*background-image: url("https://i.pinimg.com/originals/25/12/ec/2512ece2ee4bb87219577163fb77b52c.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation: background-rotation 120s linear infinite;
    /*general settings*/
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}

#content-container {
    width: 50%;
    background: #081e44;
    margin: 0 auto;
    min-height: 110%;
    position: relative;
}


/******************/
/*     LOADER     */
/******************/

.loader {
  border: 15px solid grey;
  border-color: #40d69c grey #d13b21 grey;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 50px auto;
  animation: loaderanimation 3s infinite linear;
}

@keyframes loaderanimation {
  50% {
    transform: rotate(360deg) scale(1.05);
    border-color: #40d69c #7f7382 #d13b21 #7f7382;
  }
  100% {
    transform: rotate(720deg) scale(1)
  }
}

@keyframes background-rotation {
    0% {background-image: url("https://i.pinimg.com/originals/25/12/ec/2512ece2ee4bb87219577163fb77b52c.jpg")}
    10% {background-image: url("https://i.pinimg.com/originals/25/12/ec/2512ece2ee4bb87219577163fb77b52c.jpg")}
    20% {background-image: url("https://i.imgur.com/QpZiLB1.jpg")}
    40% {background-image: url("https://i.imgur.com/QpZiLB1.jpg")}
    50% {background-image: url("https://i.imgur.com/OuSizUw.jpg")}
    70% {background-image: url("https://i.imgur.com/OuSizUw.jpg")}
    80% {background-image: url("https://i.imgur.com/qTdyfIc.jpg")}
    90% {background-image: url("https://i.imgur.com/qTdyfIc.jpg")}
    100% {background-image: url("https://i.pinimg.com/originals/25/12/ec/2512ece2ee4bb87219577163fb77b52c.jpg")}
}
