/***********************/
/*       POPUP BOX     */
/***********************/

#popup-loader {
    margin: 0 auto;
    position: absolute;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7); 
}

#popup-box {
    /*content*/
    padding: 30px;
    color: white;
    /*background*/
    background: #121a28;
    /*positioning*/
    position: absolute;
    margin: auto;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 70%;
}

#popup-box-small {
    /*content*/
    padding: 20px;
    color: white;
    /*background*/
    background: #121a28;
    /*positioning*/
    position: absolute;
    margin: auto;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 200px;
    overflow-y: scroll;
}

.close-popup {
    opacity: 0.5;
    float: right;
}

.close-popup:hover {
    opacity: 1;
    cursor: pointer;
}

/*Popup content*/
#popup-info {
    height: 100%;
}

#popup-info p {
    margin: 0;
}

.image-container {
    margin-top: 21px;
    height: 100%;
    padding-right: 30px;
    float: left;
}

#title {
    font-style: italic;
}